body {
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
}

.box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    min-width: 200px; /* Adjust the minimum width as needed */
    max-width: 32%; /* Adjust the max width to fit 3 boxes in a row */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image.left {
    float: left;
    margin-right: 20px;
    width: 50px; /* Adjust the width as needed */
}

.box_moon1 {
    background-color: #85D4E3;
    border-color: #FFFFFF;
}

.box_moon2 {
    background-color: #F4B5BD;
    border-color: #FFFFFF;
}

.box_moon3 {
    background-color: #9C964A;
    border-color: #FFFFFF;
}
